attrs==25.3.0
autocommand==2.2.2
beautifulsoup4==4.13.3
certifi==2025.7.14
cffi==1.17.1
charset-normalizer==3.4.2
cryptography==45.0.5
dbus-python==1.4.0
distlib==0.3.9
distro==1.9.0
docopt==0.6.2
evdev==1.9.0
filelock==3.18.0
git-filter-repo==2.47.0
gpg==2.0.0b25
gps==3.26.1
idna==3.10
jaraco.collections==5.1.0
jaraco.context==6.0.1
jaraco.functools==4.1.0
jaraco.text==4.0.0
keyutils==0.6
lit==20.1.0.dev0
lxml==6.0.0
Mako==1.3.10.dev0
Markdown==3.8.2
MarkupSafe==3.0.2
moddb==0.14.0
more-itertools==10.7.0
packaging==25.0
pillow==11.3.0
platformdirs==4.3.6
psycopg==3.2.9
psycopg-c==3.2.9
pyamdgpuinfo==2.1.7
pycairo==1.28.0
pycparser==2.22
PyGObject==3.52.3
PyQt5==5.15.11
PyQt5_sip==12.17.0
PySocks==1.7.1
PyYAML==6.0.2
requests==2.32.4
setuptools==80.9.0
soupsieve==2.6
torbrowser-launcher==0.3.7
typing_extensions==4.14.1
udiskie==2.5.7
ufw==0.36.2
urllib3==2.5.0
virtualenv==20.28.0
wheel==0.45.1
